@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

body { text-align: center; }
header { margin-top: 10px; }

h1 {  
  float: left;
  text-indent: -9999px;
}

h1 a {
  float: left;
  text-indent: 0;
}

nav { float: left; }
nav>ul>li { padding: 15px 30px; }

nav>ul>li>a {
  color: #6B6B6B;
  font-size: 14px;
  font-weight: bold;
}

nav>ul>li:nth-child(4):after {
  padding: 0 0 0 5px;
  content: "\f067";
  font-family: FontAwesome;
  font-size: 10px;
}

nav>ul>li>a::first-letter { text-transform: capitalize; }

.login {
  padding: 12px 0 16px 0;
  float: right;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.login>a {
  padding: 0 14px;
  color: #6B6B6B;
}

.login>a:nth-child(1)::before {
  padding: 0 12px;
  content: "\f095";
  font-size: 20px;
  font-family: fontAwesome;
}

.login>a:nth-child(2) {
  padding: 8px 18px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #206285;
  color: white;
}

.login>a:nth-child(3) { padding-right: 0; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner { position: relative; }

.banner>ul {
  padding: 0;
  margin: 0;
}

.banner>ul>li {
  padding: 0;
  margin: 0;
}

.banner>ul>li>figure {
  padding: 0;
  margin: 0;
}

.banner>ul>li>figure>img {
  width: 100%;
  height: auto;
}

[alt="slide2"], [alt="slide3"], [alt="slide4"], [alt="slide5"] { display: none; }

.slider-dot {
  position: absolute;
  top: 250px;
  right: 15px; 
}

.slider-dot>li { display: block; }

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-dot>.active, .dot:hover { background-color:white; }

.banner-content {
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
}

.banner-content>h2 {
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
  display: inline-block;
  color: white;
  font-size: 52px;
}

.banner-content>h2::first-letter { text-transform: capitalize; }

.banner-content>span {
  display: block;
  color: white;
}

.banner-content>span::first-letter { text-transform: capitalize; }

[title="Call"] {
  float: left;
  text-indent: -9999px;
}

[title="Call"]::before {
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 20px;
  content: "\f2a0";
  color: white;
  font-family: fontAwesome;
  font-size: 30px;
  float: left;
  text-indent: 0;
}

.banner-content>a:nth-of-type(2) {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 50px 0 25px -90px;
  background-color: white;
  color: #A9B8B6;
  font-size: 15px;
  text-transform: uppercase;
}

.banner-content>a:nth-of-type(3) { display: block; }

.banner-content>a:nth-last-of-type(3) {
  margin-bottom: 150px;
  color:white;
  font-size: 18px;
}

.banner-content>a:nth-last-of-type(3)::first-letter { text-transform: capitalize;}

.banner-content>a:nth-last-of-type(3)::before {
  padding: 5px 6px;
  border: 2px solid #69A0C3;
  border-radius: 50%;
  margin-right: 10px;
  content: "\f04b";
  color: #69A0C3;
  font-family: fontAwesome;
  font-size: 15px;
}

.banner-content>a:nth-last-of-type(2) {
  margin-right: -110px;
  color: white;
}

.banner-content>a:nth-last-of-type(2)::first-letter { text-transform: capitalize; }

.banner-content>a:nth-last-of-type(2)::before, .banner-content>a:nth-last-of-type(2)::after {
  padding: 0 5px;
  content: "\f0d7";
  font-family: fontAwesome;
}

.banner-content>a:last-of-type {
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0 0 -30px 0;
  float: right;
  background-color: #3E6CF6;
  color: white;
  font-size: 20px;
}

.banner-content>a:last-of-type::before {
  padding-right: 10px;
  content: "\f0e5";
  font-family: fontAwesome;
}

.no-pin-required {
  padding-top: 80px;
  margin-top: 5px;
  background-color: #CDE3BD;
}

.no-pin-required>h2, .talking-to>h2, .uberconference>h2 {
  padding: 0 100px 15px 100px;
  border-bottom: 1px solid #ADBE9E;
  margin-bottom: 15px;
  display: inline-block;
  color: #373D2F;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.no-pin-required>h2+span, .talking-to>h2+span, .uberconference>h2+span {
  margin-bottom: 20px;
  display: block;
}

.no-pin-required>h2+span::first-letter, .talking-to>h2+span::first-letter, .uberconference>h2+span::first-letter { text-transform: capitalize; }

.no-pin-required>h2+span+a, .talking-to>h2+span+a, .uberconference>h2+span+a {
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 80px;
  background-color: #236086;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.no-pin-required figure>img, .talking-to figure>img, .uberconference figure>img {
  width: 575px;
  height: 400px;
  margin-bottom: 30px;
}

.no-pin-required figure:last-of-type  img{
  width: 410px;
  height: 310px;
}

.take-tour {
  padding-bottom: 150px;
  color: #8D9D7F;
  font-size: 14px;
  font-weight: bold;
}

.take-tour>li { margin-right: 20px; }
.take-tour>li::first-letter { text-transform: capitalize; }

.take-tour>li::after {
  margin-left: 4px;
  content: "\f101";
  font-family: fontAwesome;
}

.talking-to { background-color: #F3D0BD; }

.talking-to>h2 {
  padding: 0 50px 15px 50px;
  margin-top: -15px;
}

.talking-to>.take-tour { padding: 10px; }

.uberconference {
  padding-top: 140px;
  background-color: #D4EBF9;
}

.uberconference>h2 {
  width: 500px;
  padding: 0 30px 15px 30px;
}

.uberconference>h2+span { margin-bottom: 50px; }
.uberconference ul { margin-bottom: 40px; }
.uberconference ul>li:last-child { margin-left: 20px; }
.uberconference>figure { margin-bottom: 40px; }

.uberconference>figure>img {
  width: 570px;
  height: 530px;
}

.signup { padding: 40px 0 70px 0; }

.signup>h2 {
  margin: 0 auto 70px auto;
  width: 400px;
  color: #435964;
  font-size: 55px;
  line-height: 70px;
}

.signup>h2::first-letter { text-transform: capitalize; }

.signup>a {
  padding: 15px 45px;
  border-radius: 5px;
  background-color: #256080;
  color: white;
  text-transform: uppercase;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #332E34;
}

.footer1>ul {
  margin: 40px;
  width: 150px;
}

.footer1>ul>li {
  padding: 5px 2px;
  display: block;
  font-size: 15px;
  text-align: left;
}

.footer1>ul>li:first-child { color: white; }
.footer1>ul>li a { color: #736E74; }
.footer1>ul>li::first-letter, .footer1>ul>li>a::first-letter { text-transform: capitalize;}

.footer2 {
  padding: 30px 0;
  background-color: #272228;
}

.footer2>ul {
  margin-left: 290px;
  float: left; 
}

.footer2>ul>li {
  width: 20px;
  padding: 10px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #716C72;
  font-size: 20px;
}

.footer2>ul>li>a {
  display: inline-block;
  text-indent: -9999px;
  color: #272228;
}

.footer2>ul>li:nth-child(1)>a::before {
  content: "\f09a";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.footer2>ul>li:nth-child(2)>a::before {
  content: "\f099";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.footer2>ul>li:nth-child(3)>a::before {
  content: "\f16a";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.footer2>ul>li:nth-child(4)>a::before {
  content: "\f09e";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.footer-right>p {
  margin-right: 220px;
text-align: right;
color: #716C72;
}


 /*=================================
  footer styling ends here
=================================*/ 
